body{
    padding: 50px 0;
}
.navbar-brand{
    padding: 0;
}
.carousel {
    height: 500px;
}
.carousel .item {
    height: 500px;
}
.carousel .item img {
    width: 100%;
}
.carousel-caption p{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
}
.grid-options{
    font-weight: bold;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#summary-container .col-md-3{
    text-align: center;
}
.my-tabs{
    width: 80%;
    margin: 0 auto;
}
.feature{
    padding: 30px;
}
.feature .feature-heading{
    font-size: 30px;
    color: #016a94;
    margin: 10px;
}
.feature .feature-muted{
    font-size: 20px;
    color: #999;
}
footer{
    padding: 10px 0;
}
footer span{
    height: 34px;
    line-height: 34px;
}